body {
    background-color: black;
    text-align: center;
    font-family: Veranda, Genevea, Tahoma, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
        color: white;
}

.link--cta {
    font-size: 16x;
    color: aquamarine;
}